.ILogo{
  padding: 2px;
  width: 200px;
  height: 80px;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 1px;


}

.App-header {
  background-color: rgb(255, 4, 4);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row1{
  grid-template-columns: 1fr  ;
  display: grid;

}
nav {
  display: grid;
  grid-template-columns: [x0] 50% [x1] 50%;
  background-color: #d21400;
  padding-top: 0.8%;
  padding-left: 0.8%;
}
.izquierda {
  grid-column-start: x0 / x1;
  width: 200px;
  height: 80px;

}

.derecha {
  display: grid;
  justify-content: right;
  align-items: center;
  text-align: right;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
p{
  color: white;
}
img{
  border-radius: 15px;
}
.parrafo{
  box-sizing: border-box;
  padding-top: 4%;
  margin-right: 10%;
  font-size: x-small;
}